
/* NAV BAR */ 

@media screen and (max-width:759px) {
    .topnav {
        display:none;
    }
}

@media screen and (min-width:760px) {
    .topnavm {
        display:none;
    }
    .topnav {
        position:fixed;
        top:0;
        width:100%;
        background-color:rgb(44, 45, 46);
        text-align:center;
    }
    .topnav li {
        list-style:none;
        display:inline-block;
    }
    .topnav a {
        color:#fff;
        padding:5px 10px 5px 10px;;
        margin:0 10px 0 10px;
        text-decoration:none;
        font-size:1.2em;
    }

    .topnav a:hover {
        background-color:rgb(56, 57, 58);
    }
}


/* CARDS */

@media screen and (min-width:600px) {
    .card {
        width:30%;
        justify-content:center;
    }
}

@media screen and (max-width:599px) {
    .card {
        width:100%
    }
}

@media screen and (max-width:599px) {
    .card2 {
        display:none;
    }
}
@media screen and (max-width:599px) {
    .card3 {
        display:none;
    }
}


@media screen and (min-width:600px) {
    .card2 {
        width:46%;
        background-color:rgb(243, 243, 243);
        margin:10px;
}
    .card2 img {
        width:100%;
    }
    .blogposts {
        display:flex;
        flex-flow:row wrap;
        justify-content: center;
    }
    .card3 {
        width:46%;
        background-color:rgb(243, 243, 243);
        margin:10px;
        justify-content: center;
    }
    .testimonials {
        display:flex;
        flex-flow:row wrap;
        justify-content: center;
    }
    .card3 img {
        width:100%;
    }
}

@media screen and (min-width:993px) {
    .card3 {
        width:21%;
    }
}
