html {
    scroll-behavior: smooth;
}

body {
    background-color:#fff;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Open sans', sans-serif;
    font-size:18px;
    scroll-behavior: smooth;
}


/* NAV BAR */ 

.topnavm {
    overflow: hidden;
    background-color: #333;
    position: relative;
    position:fixed;
    top:0;
    width:100%;
  }
  
  .topnavm #myLinks {
    display: none;
  }
  
  .topnavm a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnavm a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }


/* HEADER */

.header {
    background:url('images/header.jpg');
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom:1.2em;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
} 
.headercontent {
    color:#fff;
    text-align:center;
}

/* MAIN */ 

.main {
    display:flex;
    flex-direction: column;
}

.features {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}

.blogposts {
    display:flex;
    flex-flow:row wrap;
}

.services {
    background:url('images/casey-horner-T2l1NxKOsjY-unsplash.jpg');
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    margin:1.2em 0;
    padding:30px 30px;
    height:30vh;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

.servicecontent {
    color:#fff;
    font-family:'Open sans', sans-serif;
    font-size:10px;
    width:70%;
}

.servicecontent p {
    font-size:19px;
    font-family:'Open sans', sans-serif;
}

.testimonials {
    display:flex;
    flex-flow:row wrap;
}

p {
    font-size:15px;
    font-family:'Open sans', sans-serif;
}


/* CONTACT FORM */



.contact {
    background-image:url('images/card7.jpg');             /* Good browsers */
    background-size:cover;
    background-position:center center;
    background-attachment: fixed;
    height:auto;
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.contactcontainer {
    width:70%;
    margin: 30px auto;
    text-align:center;
}

.contactform {
    width:100%;
}

.contact h3 {
    font-size:45px;
    color:#fff;
    font-family:'Open sans', sans-serif;
    font-weight:300;
    margin:0;
    text-shadow: 2px 2px #333;
}
.contact p {
    background: rgba(242, 242, 242, 0.4);
    color:#000;
    border-radius:10px;
    padding:20px 10px;
    border:none;
}

form {
    margin-top:25px;
    transition:all 4s ease-in-out;
    width:100%;
    color:#000;
}

form .submit {
    background:rgb(48, 48, 48);
    border:1px solid #9c9898;
    color:#fff;
    height:50px;
    margin-top:10px;
    font-size:20px;
    width:30%;
}

input {
    height:27px;
    width:100%;
    color:#000;
}

.formcontrol {
    width:100%;
    background:rgba(242, 242, 242, 0.4);
    border:none;
    border-radius:5px;
    padding:5px;
    margin-bottom:10px;
    color:#000;
    font-size:14px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#000;
  }
  
  ::placeholder {
    color:#000;
  }


  /* FOOTER */

  .footer {
      display:flex;
      flex-direction: column;
      justify-content: center;
      justify-items:center;
      align-items:center;
      align-content: center;
      font-family:'Open sans', sans-serif;
      font-size:14px;
      padding-bottom:30px;
  }

  .footer h6 {
      font-style: italic;
      font-size:32px;
      margin:20px 0;
      font-weight:300;
      color:#666;
  }
  .footer p {
      font-size:16px;
      font-style:italic;
      text-align:center;
      color: #9c9c9c;
      margin:0;
  }

  hr {
      width:100%;
      margin:20px 0;
      border:0;
      border-top:1px solid #eee;
  }

  #copyright {
      color:rgb(112, 112, 112);
  }

/* CARD  */

.card {
    transition:0.3s;
    width:30%;
    background-color:rgb(243, 243, 243);
    margin:10px auto;
    padding-bottom:40px;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card img {
    max-width:100%;
    height:auto;
    vertical-align:center;
}

.card3 {
    margin:20px auto;
}


.bigcard {
    width:84%;
    background-color:rgb(243, 243, 243);
    margin:20px auto;
}
.bigcard img {
    max-width:100%;
}

.cardcontainer {
    padding:0 20px 20px;
    background-color:rgb(243, 243, 243);
}




/* BUTTONS */ 



.greenbtn, .greenbtn a {
    padding:10px 15px;
    background-color:rgb(33, 151, 33);
    border:none;
    border-radius:10px;
    color:#fff;
    font-size:18px;
    transition:0.3s;
    z-index:1000;
    text-decoration:none;

}

.greenbtn:hover {
    background-color:rgb(57, 173, 57);
    cursor:pointer;
}

.bluebtn, .bluebtn a {
    padding:10px 15px;
    background-color:rgb(73, 93, 206);
    border:none;
    border-radius:10px;
    text-decoration:none;
    color:#fff;
    font-size:18px;
    margin:10px;
    transition:0.3s;
    z-index:1000;
    bottom:0;
}

.bluebtn:hover {
    background-color:rgb(84, 129, 211);
    cursor:pointer;
}

.redbtn, .redbtn a {
    padding:10px 15px;
    background-color:rgb(165, 33, 33);
    border:none;
    border-radius:10px;
    text-decoration:none;
    color:#fff;
    font-size:18px;
    margin:10px;
    transition:0.3s;
    z-index:1000;
}

.redbtn:hover {
    background-color:rgb(199, 66, 66);
    cursor:pointer;
}

.readmorebtn {
    padding:10px 15px;
    background-color:rgb(255, 255, 255);
    border:1px solid #ddd8d8;
    border-radius:10px;
    text-decoration:none;
    color:rgb(51, 51, 51);
    font-size:18px;
    display:inline-block;
    margin:10px;
    transition:0.3s;
    z-index:1000;
}

.readmorebtn:hover {
    background-color:rgb(235, 235, 235);
    border:1px solid #cccccc;
}

/* HEADINGS */

h1 {
    font-family:'Blinker', sans-serif;
    font-size:70px;
    font-weight:400;
    line-height:15px;
    text-shadow: 2px 2px #333;
}
h2 {
    font-family:'Blinker', sans-serif;
    font-size:30px;
    font-weight:200;
    letter-spacing:3px;
    line-height:1px;
    text-shadow: 2px 2px #333;
}
h3 {
    font-size:21px;
    font-family:'Open sans', sans-serif;
    font-weight:700;
    color:rgb(38, 38, 39);
}
h4 {
    color:#fff;
    font-weight:400;
    font-size:27px;
    line-height:1px;
}




